# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual env
.venv/
*.egg-info/

# Database
*.db

# OS
.DS_Store
._*

# Editor
.vscode/

# Env
.env

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
